@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body {
    font-family: 'League Spartan', sans-serif;

}

/* PAGE CONTAINER */
.page-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TOP SECTION CONTAINER */
.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin-top: 2%;
}

/* TOP LEFT TEXT CONTAINER */
.left {
    width: 330px;
    padding-left: 5%;
}

.left h1 {
    font-size: 38px;
}

.left h1,
.left p {
    color: hsl(300, 43%, 22%);
}

/* TOP RIGHT CONTAINER */
.right {
    display: flex;
    flex-direction: column;
    margin-top: 9%;
}

.star-review {
    background-color: hsl(300, 24%, 96%);
    height: 40px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-top: 3%;
}

.report-guru {
    margin-left: 5%;
}

.best-tech {
    margin-left: 10%;
}
.star-review p {
    height: 15px;
    gap: 10px;
}

.reviews-p,
.report-p,
.best-tech-p {
    font-family: 'League Spartan', sans-serif;
    color: hsl(300, 43%, 22%);;
}

/* BOTTOM SECTION CONTAINER */
.bottom {
    width: 900px;
    height: 350px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    background-image: url(./images/bg-pattern-bottom-desktop.svg);
}

.div-card-container {
    width: 850px;
    display: flex;
    gap: 3%;
}

.card {
    width: 350px;
    height: 230px;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
}

.user {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

.user, .message {
    width: 200px;
    margin-left: 10%;
    padding-top: 5%;
}

.user img {
    margin-top: 7%;
    margin-left: 2%;
}

.message {
    margin-top: -3%;
}

.name, .message {
    color: white;
}

.verified {
    color: hsl(333, 80%, 67%);
    margin-top: -10%;
}

.img-review {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.card02 {
    margin-top: 5%;
}

.card03 {
    margin-top: 10%;
}

/* MOBILE */
@media only screen and (max-width: 375px) {

    .page-cont {
        width: 300px;
        height: 900px;
        margin-left: 0;
        margin-right: 0;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        text-align: center;
    }

    .left {
        width: 300px;
    }

    .right {
        margin-top: 0;
    }

    .star-review {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 340px;
    }

    .stars {
        margin-top: 5%;
    }

    .report-guru,
    .best-tech {
        margin-left: 0;
    }

    .bottom {
        width: 300px;
        margin-top: 5%;
    }

    .div-card-container {
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 65%;
        margin-left: -5%;
    }

    .card {
        width: 340px;
    }
    .card02,
    .card03 {
        margin-top: 0;
    }

    .user, .message {
        width: 280px;
        margin-left: 10%;
        padding-top: 5%;
    }
}